[package]
name = "hyper-rustls"
<<<<<<< HEAD
version = "0.17.1"
=======
version = "0.18.0-alpha.1"
>>>>>>> Upgrade to std futures and tokio 0.2
edition = "2018"
authors = ["Joseph Birr-Pixton <jpixton@gmail.com>"]
license = "Apache-2.0/ISC/MIT"
readme = "README.md"
description = "Rustls+hyper integration for pure rust HTTPS"
homepage = "https://github.com/ctz/hyper-rustls"
repository = "https://github.com/ctz/hyper-rustls"

[dependencies]
bytes = "0.4"
ct-logs = { version = "^0.6.0", optional = true }
futures-preview = { version = "0.3.0-alpha.17", features = ["async-await", "nightly"] }
hyper = { git = "https://github.com/hyperium/hyper.git", branch = "master", default-features = false }
rustls = "0.16"
tokio-io-new = { version="0.2.0-alpha.1", package="tokio-io" }
tokio-rustls = "0.12.0-alpha.1"
webpki = "^0.21.0"
webpki-roots = { version = "^0.17.0", optional = true }

[dev-dependencies]
tokio = "0.2.0-alpha.1"

[features]
default = ["tokio-runtime"]
tokio-runtime = ["hyper/runtime", "ct-logs", "webpki-roots"]

[[example]]
name = "client"
path = "examples/client.rs"
required-features = ["tokio-runtime"]

[[example]]
name = "server"
path = "examples/server.rs"
required-features = ["tokio-runtime"]
